.container {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.k-grid-content {
  overflow-y: hidden !important;
}

:host ::ng-deep tr.k-alt {
  background-color: inherit !important;
}

:host ::ng-deep .k-widget {
  border-style: none
}
