.app-body {
  color: #404447;
  font-family: "Open Sans", sans-serif;
}

.k-notification-group {
  z-index: 9000000 !important;
  bottom: 9rem !important;
}

.k-notification {
  font-size: 1rem !important;
}



